
<header>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        nav {
            background-color: #444;
            padding: 10px 0;
        }

        nav ul {
            list-style: none;
            text-align: center;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 20px;
        }
        nav ul li a {
           
            color: #fff;
            list-style: none;
            text-decoration: none;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .services {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .service {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 10px;
            flex-basis: calc(33.33% - 20px);
            box-sizing: border-box;
        }

        .service h2 {
            margin: 0;
        }

        .service p {
            margin-top: 10px;
        }

        .appointment-button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .appointment-button:hover {
            background-color: #0056b3;
        }
    </style>
    <h1>STAMPING</h1>

<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/user/login">Ingresar</a></li>
        <li><a href="/user/register">Registrate</a></li>
        <li><a href="/">Perfil</a></li>
    </ul>
</nav>
</header>