
<header>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif ;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        header {
            background-color: #0077b6;
            color: #000;
            padding: 0px 0;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        nav {
            background-color: #0077b6;
            padding: 10px 0;
        }

        nav ul {
            list-style: none;
            text-align: center;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 20px;
        }
        nav ul li a {
           
            color: #fff;
            list-style: none;
            text-decoration: none;
            margin: 30px;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .appointment-button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .appointment-button:hover {
            background-color: #0056b3;
        }
    </style>
    <h1><img src="image/Stamping-logo.png" alt="objeto"></h1>

<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/user/login">Ingresar</a></li>
        <li><a href="/user/register">Registrate</a></li>
        <li><a href="/">Perfil</a></li>
    </ul>
</nav>
</header>