<header>
            
    <nav>
        <div class="logo">
            <img src="/image/stamping-logo.png" alt="logo-barberia">
        </div>
        <ul>
                    <li>
                        <a href="/">HOME</a>
                    </li>
                    <li>
                        <a href="/products">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/user">MI PERFIL</a>
                    </li>
                    <li class="linksUser">
                        <a href="/login"></i> LOGIN</a>
                    </li>
                    <li class="linksUser">
                        <a href="/register"></i> REGISTER</a>
                    </li>
        </ul>
    </nav>
</header>