<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head",{title:"STAMPING"}) %>
<body>
    <%- include("./partials/headers") %>
    <main>
            <div>
                <H1>PRODUCTOS</H1>
            </div>
                <section class="seccion-productos">
                                <div>
                                        <article>
                                            <img src="image/gota-bandera.jpg" alt="objeto">
                                            <h2>Gotas</h2>
                                        </article>
                                        <article>
                                            <img src="image/banner-doble.jpg" alt="objeto">
                                            <h2>Banner</h2>
                                        </article>
                                        <article>
                                            <img src="image/ploteado.jpg" alt="objeto">
                                            <h2>Ploteado</h2>
                                        </article>         
                                </div>
                </section>
    </main>
    <%- include ("./partials/footer") %>
</body>
</html>