<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head",{title:"Stamping"}) %>

<body>

    <%- include("./partials/header") %>

    <style>
        h1{
            display: flex;
            justify-content: center;
        }
        main .seccion-productos div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: center;
            align-items: center;
        }
         main .seccion-productos div article{
            width: 33,2%;
            margin-top: 60px; 
        }
        main .seccion-productos div article h2{
            text-align: center;
            margin-top: 10px;
            color: #000;
            margin-bottom: 30px;
                
        }
    </style>
    <main>
            <div>
                <H1>PRODUCTOS</H1>
            </div>
                <section class="seccion-productos">
                                <div>
                                        <article>
                                            <img src="image/gota-bandera.jpg" alt="objeto">
                                            <h2>Gotas</h2>
                                        </article>
                                        <article>
                                            <img src="image/banner-doble.jpg" alt="objeto">
                                            <h2>Banner</h2>
                                        </article>
                                        <article>
                                            <img src="image/ploteado.jpg" alt="objeto">
                                            <h2>Ploteado</h2>
                                        </article>         
                                </div>
                </section>
    </main>
    <%- include ("./partials/footer") %>
</body>
</html>