<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a68abf04b.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <title>BARBERIA</title>
</head>
<body>
    <header>
            
            <nav>
                <div class="logo">
                    <img src="/image/Sin título (1).png" alt="logo-barberia">
                </div>
                <ul>
                            <li>
                                <a href="/">HOME</a>
                            </li>
                            <li>
                                <a href="#">SERVICIO</a>
                            </li>
                            <li>
                                <a href="#">CONTACTO</a>
                            </li>
                            <li>
                                <a href="/products">PRODUCTOS</a>
                            </li>
                            <li class="linksUser">
                                <a href="/login"><i class="fa-solid fa-user" style="color: #00225c;"></i> LOGIN</a>
                            </li>
                            <li class="linksUser">
                                <a href="/register"><i class="fa-solid fa-user-plus" style="color: #00225c;"></i> REGISTER</a>
                            </li>
                </ul>
            </nav>
    </header>

            <div class="menu-hamburgesa">
                <i class="fa-solid fa-bars" style="color: #002461;"></i>
            </div>
    <main>
            <div>
                <H1>PROFESIONALES</H1>
            </div>
                <section class="seccion-barber">
                                <div>
                                        <article>
                                            <img src="image/foto-perfil-barber.jpeg" alt="barber-perfil">
                                            <h2>BARBERO 1</h2>
                                        </article>
                                        <article>
                                            <img src="image/foto-perfil-barber.jpeg" alt="barber-perfil">
                                            <h2>BARBERO 2</h2>
                                        </article>
                                        <article>
                                            <img src="image/foto-perfil-barber.jpeg" alt="barber-perfil">
                                            <h2>BARBERO 3</h2>
                                        </article>         
                                </div>
                </section>
                <h3>GALERIA</h3>
                <section class="seccion-galery">
                                   
                            <div class="caja imagen1"></div>
                            <div class="caja imagen2"></div>
                            <div class="caja imagen3"></div>
                            <div class="caja imagen4"></div>
                            <div class="caja imagen5"></div>
                            <div class="caja imagen6"></div>
                            <div class="caja imagen7"></div>
                            <div class="caja imagen8"></div>
                            
                 </section>
    </main>
            
    <footer>
                <div>
                    <h4>UBICACION</h4>
                    <p>Nuestro domcilio es facil de llegar</p>
                </div>
                <div>
                    <h4>TELEFONO</h4>
                    <p>Nuestro numero de celular para poder cominucarte</p>
                </div>
                <div>
                    <h4>EMAIL</h4>
                    <p>dazaa@hotmail.com </p>
                </div>
                <div>
                    <h4>NAVEGACION</h4>
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">SERVICIO</a></li>
                            <li><a href="#">CONTACTO</a></li>
                            <li><a href="#">TURNO</a></li>
                        </ul>
                </div>
    </footer>   
</body>
</html>