<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a68abf04b.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <title>BARBERIA</title>
</head>
<body>
    <header>
            
            <nav>
                <div class="logo">
                    <img src="/image/stamping-logo.png" alt="logo">
                </div>
                <ul>
                            <li>
                                <a href="/">HOME</a>
                            </li>
                            <li>
                                <a href="#">CONTACTO</a>
                            </li>
                            <li>
                                <a href="/products">PRODUCTOS</a>
                            </li>
                            <li class="linksUser">
                                <a href="/login"></i> LOGIN</a>
                            </li>
                            <li class="linksUser">
                                <a href="/register"></i> REGISTER</a>
                            </li>
                </ul>
            </nav>
    </header>
    <main>
            <div>
                <H1>PRODUCTOS</H1>
            </div>
                <section class="seccion-productos">
                                <div>
                                        <article>
                                            <img src="image/gota-bandera.jpg" alt="objeto">
                                            <h2>Gotas</h2>
                                        </article>
                                        <article>
                                            <img src="image/banner-doble.jpg" alt="objeto">
                                            <h2>Banner</h2>
                                        </article>
                                        <article>
                                            <img src="image/ploteado.jpg" alt="objeto">
                                            <h2>Ploteado</h2>
                                        </article>         
                                </div>
                </section>
    </main>
            
    <footer>
                <div>
                    <h4>TELEFONO</h4>
                    <p></p>
                </div>
                <div>
                    <h4>UBICACION</h4>
                    <p></p>
                </div>
                <div>
                    <h4>EMAIL</h4>
                </div>
    </footer>   
</body>
</html>