<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a68abf04b.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <title>BARBERIA</title>
</head>
<body>
    <header>
            
            <nav>
                <div class="logo">
                    <img src="/image/Sin título (1).png" alt="logo-barberia">
                </div>
                <ul>
                            <li>
                                <a href="/">HOME</a>
                            </li>
                            <li>
                                <a href="#">SERVICIO</a>
                            </li>
                            <li>
                                <a href="#">CONTACTO</a>
                            </li>
                            <li>
                                <a href="/products">PRODUCTOS</a>
                            </li>
                            <li class="linksUser">
                                <a href="/user/login"><i class="fa-solid fa-user" style="color: #00225c;"></i> LOGIN</a>
                            </li>
                            <li class="linksUser">
                                <a href="/user/register"><i class="fa-solid fa-user-plus" style="color: #00225c;"></i> REGISTER</a>
                            </li>
                </ul>
            </nav>
    </header>

            <div class="menu-hamburgesa">
                <i class="fa-solid fa-bars" style="color: #002461;"></i>
            </div>
    <main>
        <div><h1> REGISTRATE</h1></div>
            <form class="formularios" action="/register" method="POST">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input class="text-field" type="text" name="nombre"  id= "nombre" placeholder="Nombre">
                </div>
                <div>
                    <label for="apellido">Apellido:</label>
                    <input class="text-field" type="text" name="apellido" id= "apellido" placeholder="Apellido">
                </div>
                <div>
                    <label for="email">E-mail:</label>
                    <input class="text-field" type="email" name="email" id= "email" placeholder="E-mail">
                </div>
                <div>
                    <label for="domicilio">Domicilio:</label>
                    <input class="text-field" type="text" name="domicilio" id="domicilio" placeholder="ej: Calle 13 N191">
                </div>
            
                
                <div>
                    <label for="fotoRegister">Foto de Usuario:</label>
                    <input type="file" name="fotoRegister" accept=".jpg, .png, .jpeg, .gif" id="fotoRegister">
                </div>
                <div>
                    <label for="contrasenia">Contraseña:</label>
                    <input class="text-field" type="password" name="contrasenia"  id="contrasenia" placeholder="Contraseña">  
                </div>
                <div>
                    <label for="confirmarContrasenia">Confirmar Contraseña:</label>
                    <input class="text-field" type="password" name="confirmarContrasenia"  id="confirmarContrasenia" placeholder="Confirmar Contraseña">
                </div>
                    
                <div>
                    <button class="botonform botonsubmit" type="submit">Enviar</button>
                    <button class="botonform botonreset"type="reset">Cancelar</button>
                </div>
                
            </form>
    </main>
            
    <footer>
                <div>
                    <h4>UBICACION</h4>
                    <p>Nuestro domcilio es facil de llegar</p>
                </div>
                <div>
                    <h4>TELEFONO</h4>
                    <p>Nuestro numero de celular para poder cominucarte</p>
                </div>
                <div>
                    <h4>EMAIL</h4>
                    <p>dazaa@hotmail.com </p>
                </div>
                <div>
                    <h4>NAVEGACION</h4>
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">SERVICIO</a></li>
                            <li><a href="#">CONTACTO</a></li>
                            <li><a href="#">TURNO</a></li>
                        </ul>
                </div>
                <h5>Copyright © 1999-2023 || BARBER </h5>
    </footer>   
</body>
</html>