<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head",{title:"BARBERIA"}) %>
<body>
    <%- include("./partials/headers") %>
    <main>
        <style>.usuario-card {
            max-width: 300px;
            margin: 0 auto;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            text-align: center;
        }
        
        .usuario-card img {
            max-width: 100%;
            border-radius: 50%;
        }
        
        .usuario-card h2 {
            margin-top: 10px;
            font-size: 24px;
        }
        
        .usuario-card p {
            margin: 10px 0;
            font-size: 16px;
        }
        
        .usuario-card button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }
        
        .usuario-card button:hover {
            background-color: #0056b3;
        }
        </style>

        <div class="usuario-card">
            <img src="/image/imagen-por-defecto.png" alt="imagenUser">
            <h2>Nombre del Usuario</h2>
            <h2>Apellido del Usuario</h2>
            <p>Foto del Usuario</p>
            <p>Domicilio del Usuario</p>
            <p>Correo Electrónico: usuario@example.com</p>
            
            <button class="botonform" type="submit">Modificar Perfil</button>
            <button class="botonform" type="submit">Cerrar Sesion</button>
            
        </div>
    </main>

<%- include("./partials/footer") %>   
</body>

</html>