*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
}
body{
    font-family: 'Pridi', serif;
} 
header{
    background-color: #0a0908;
    width: 99vw;
    height: 11vw;

}
header nav {
    display: flex;
    justify-content:flex-end;

}
header .logo{
    cursor: pointer;
    margin-right: auto;
}
header .logo img{
    width: 30vw;
}
header nav ul{
    list-style: none;
  
}
header nav ul li{
    transition: all  0.3s;
    display: inline-block;
    padding: 0px 10px;
}
header nav ul li:hover{
    transform: scale(1.2);
}
header nav ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    
}
header nav ul li a:hover{
    color: #fff;
}
main{
    margin: 0 auto;
    /*width: 90vw;*/
}
.menu-hamburgesa{
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

main div h1{
    background-color: #fff;
    color: #000;
    text-align: center;
}

main .seccion-productos{
    background-color: #000;
}
main .seccion-productos div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
main .seccion-productos div article{
    width: 33,2%;
    margin-top: 30px; 
}

main .seccion-productos div article img{
    border-radius: 0%; 
}
main .seccion-productos div article h2{
    text-align: center;
    margin-top: 10px;
    color: #c6ac8f;
    margin-bottom: 30px;
    
}
main  h3{
    color:#fff;
    text-align: center;
    background-color: #c6ac8f;
    font-size: 32px;
}

main .seccion-product{
    border: solid 4px green;
}
main section article{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
main .productos article img{
    width: 40vw;
}
main .informacion-article{
    border-top: solid 1px black;
    padding: 15px;
    background-color: #fff;
}
.precio{
    font-size: 25px;
}
.descuento{
    font-size: 25px;
    color: green;
    font-weight: 30px;
}
.desc-prod{
    font-size: 35px;
    display: flex;
    justify-content: center;
}

footer{
    text-align: center;
}

footer div h4{
    text-align: center;
    font-size: 20px;
}
footer div ul li a{
    list-style: none;
    text-decoration: none;
}
footer div ul{
    list-style: none;
}

main .crearCuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-cuenta input{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.botonCuenta{
    width: 10vw;
    height: 2vw;
    background-color: #c6ac8f;
    margin-top: 10px;
}

main .formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-field{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.botonform{
    width: 10vw;
    height: 2vw;
    background-color: #c6ac8f;
    margin-top: 10px;
}

@media (min-width : 800px){
    .menu-hamburgesa{
        display: none;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main section .productos img{
        width: 20vw;
    }
    .desc-prod{
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    footer div{
        width: 25%;
    }
   
}